* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "OPen Sans", sans-serif;
    background-color: azure;

}

.wrapper {
    width: 100%;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 35px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: black;
    margin-left: 30px;
}

.menu {
    float: right;
    margin-right: 15px;
}
 nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 55px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #ffffff;
    z-index: 1;
    border-bottom: 1px solid #364f6b ;
    background-color: darkcyan;
 }

 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 }

 nav ul li {
    float: left;
    font-family: 'Arial narow';
    font-size: 23px;
 }

 nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding:  0px 16px 0px 16px;
    text-decoration: none;
 }

 nav ul li a:hover {
    text-decoration: underline;
 }

 section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
 }

.logo_gambar {
   margin-left: 150px;
   margin-top: 80px;
}

 .kolom {
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
 }

 .kolom .deskripsi {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Comic sans ms';
    color: #364f6b;
 }

 h3 {
    font-family: 'Comic sans ms';
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
 }

 p {
  font-family: 'comic sans ms';
  font-size: 25px;
 }

 a.tbl-biru {
   background: #3f72af;
   border-radius: 20px;
   margin-top: 20px;
   padding: 15px 20px 15px 20px;
   color: #ffffff;
   cursor: pointer;
   font-weight: bold;
   font-family: 'Georgia';
   font-size: 20px;
 }

 a.tbl-biru:hover {
   background: #fc5185;
   text-decoration: none;
 }

 p {
   margin: 10px 0px 10px 0px;
   padding: 10px 0px 10px 0px;
 }

 .kolom_dua {
   margin-left: 50px;
   margin-right: 50px;
   margin-top: 28px;
   margin-bottom: 50px;
}

p {
   font-size: 22px;
}

h5 {
   font-family: 'courier new';
   font-size: 20px;
}

.gambar_kurban {
   margin-top: 85px;
   margin-right: 50px;
}

.tengah {
   text-align: center;
   width: 100%;
}

.tutor-list {
   width: 100%;
   position: relative;
   display: flex;
   flex-wrap: wrap;
}

.kartu-tutor {
   width: 20%;
   margin: 0 auto;
}

.kartu-tutor img { 
   width: 80%;
}

.nama h2 {
   margin-top: 20px;
   margin-bottom: 50px;
   font-family: 'comic sans ms';
   color: #364f6b;
}

 #kontak {
   background: #dedede;
   padding: 10px 0px 10px 0px;
 }

 .footer {
   background-color: #dedede;
   width: 95%;
   position: relative;
   display: flex;
   flex-wrap: wrap;
   margin: auto;
 }

 .footer-section {
   width: 20%;
   margin: 0 auto;
 }

 .footer-section p {
  font-family: 'comic sans ms';
  font-size: 15px;
 }

 h4 {
   font-family: 'comic sans ms';
   font-weight: 800;
   font-size: 30px;
   margin-bottom: 30px;
   color: #364f6b;
   width: 100%;
   line-height: 50px;
 }

 #copyright {
   background-color: dimgrey;
   text-align: center;
   width: 100%;
   padding: 10px;
   font-family: 'times new roman';
   color: black;
 }